@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* Common Style */
.text-center{
    text-align: center;
}

.secondary-bg{
    background-color: #FFF8F3;
}
.text-color{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-style{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border:none;
}

.section-title{
    font-size:35px;
    font-weight: bold;
    color:#181818;
}

.section-description{
    font-size: 18px;
    font-weight: 400;
    color: rgb(117, 117, 117);
}

.item-description{
    font-size: 20px;
    font-weight: 700;
}

/* header */
.header{
    background-image: url('../webdev-portfolio/images/developer.png'), url('../webdev-portfolio/images/header_bg.png');
    background-repeat: no-repeat;
    background-position:top left, bottom right;
}

/*navbar*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.class-description{
    font-size: 18px;
    font-weight: 400;
}

.banner-profile-pic{
    width: 580px;
}

.banner-content{
    max-width: 580px;
}

/* main */

main{
    margin: 0 auto;
    max-width: 1140px;
}

section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about */

.about{
    text-align: center;
    padding: 130px 150px;
    border-radius: 10px;
}

.about-items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px 0;
}


/* skills */

.skills-container{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 24px;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* resume */

.resume-container{
    display: flex;
    gap: 24px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    color: rgb(71, 71, 71);
}

.experience-title{
    font-size: 25px;
    font-weight: 700;
    color: rgb(71, 71, 71);
    margin-top: 30px;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: rgb(117, 117, 117);
    margin-top: 10px;
}

.experience-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-bottom: 30px;
    margin-top: 20px;
}

.resume-download{
    margin-top: 70px;
}

/* footer */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
   width: 50%;
}

footer input[type="text"] ,footer textarea{
    height:65px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}